<p id="notice"><%= notice %></p>

<h1>Type Vehicles</h1>

<table>
  <thead>
    <tr>
      <th>Moto</th>
      <th>Particulartourism</th>
      <th>Bus</th>
      <th>Furgon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_vehicles.each do |type_vehicle| %>
      <tr>
        <td><%= type_vehicle.moto %></td>
        <td><%= type_vehicle.particularTourism %></td>
        <td><%= type_vehicle.bus %></td>
        <td><%= type_vehicle.furgon %></td>
        <td><%= link_to 'Show', type_vehicle %></td>
        <td><%= link_to 'Edit', edit_type_vehicle_path(type_vehicle) %></td>
        <td><%= link_to 'Destroy', type_vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type Vehicle', new_type_vehicle_path %>
