<%= form_with(model: insurance_policy, local: true) do |form| %>
  <% if insurance_policy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(insurance_policy.errors.count, "error") %> prohibited this insurance_policy from being saved:</h2>

      <ul>
        <% insurance_policy.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :basic %>
    <%= form.text_field :basic %>
  </div>

  <div class="field">
    <%= form.label :standard %>
    <%= form.text_field :standard %>
  </div>

  <div class="field">
    <%= form.label :premium %>
    <%= form.text_field :premium %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
